In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [5]:
df = pd.read_csv('D:\\Protojam_1\\tableau_nettoye.csv')
df.head()

,work_year,job_title,job_category,salary_in_usd,experience_level,work_setting,company_location,company_size
0,2023,Data Architect,Data Architecture and Modeling,186000,Senior,In-person,United States,M
1,2023,Data Architect,Data Architecture and Modeling,81800,Senior,In-person,United States,M
2,2023,Data Scientist,Data Science and Research,212000,Senior,In-person,United States,M
3,2023,Data Scientist,Data Science and Research,93300,Senior,In-person,United States,M
4,2023,Data Scientist,Data Science and Research,130000,Senior,Remote,United States,M

In [14]:
jb = df['job_title'].unique()
for i in range(len(jb)):
    print(jb[i])

Data DevOps Engineer
Data Architect
Data Scientist
Machine Learning Researcher
Data Engineer
Machine Learning Engineer
Data Analyst
Analytics Engineer
Applied Scientist
BI Developer
Business Intelligence Engineer
Research Scientist
Research Analyst
Research Engineer
Data Science Engineer
Data Quality Analyst
Data Product Manager
Machine Learning Scientist
AI Engineer
MLOps Engineer
Deep Learning Engineer
Data Modeler
Data Product Owner
Data Science Consultant
Business Intelligence Analyst
AI Developer
Data Manager
ML Engineer
Data Science Director
Head of Data
BI Analyst
Data Management Analyst
Machine Learning Modeler
Data Specialist
BI Data Analyst
Data Integration Engineer
Business Intelligence Manager
Data Integration Specialist
Data Science Practitioner
Business Intelligence Developer
AI Research Engineer
Data Lead
Data Management Specialist
AI Architect
Data Science Manager
Data Strategist
Business Intelligence Specialist
Machine Learning Infrastructure Engineer
Data Quality Engineer
Director of Data Science
Business Data Analyst
Decision Scientist
Financial Data Analyst
Data Strategy Manager
Computer Vision Engineer
Data Visualization Specialist
Insight Analyst
Data Visualization Engineer
ETL Developer
Data Analytics Manager
Azure Data Engineer
Data Developer
Principal Data Scientist
Data Science Lead
Staff Data Analyst
Data Infrastructure Engineer
Machine Learning Software Engineer
Machine Learning Operations Engineer
AI Scientist
Head of Machine Learning
Applied Data Scientist
AI Programmer
Data Operations Analyst
Applied Machine Learning Scientist
Data Analytics Lead
Data Operations Engineer
Machine Learning Manager
Lead Data Scientist
Principal Machine Learning Engineer
Principal Data Engineer
Power BI Developer
Head of Data Science
Staff Machine Learning Engineer
Staff Data Scientist
Consultant Data Engineer
Machine Learning Specialist
Business Intelligence Data Analyst
Data Operations Manager
Lead Machine Learning Engineer
Managing Director Data Science
Data Modeller
Finance Data Analyst
Software Data Engineer
Machine Learning Research Engineer
Compliance Data Analyst
Data Operations Specialist
Cloud Data Engineer
Analytics Engineering Manager
NLP Engineer
AWS Data Architect
Product Data Analyst
Machine Learning Developer
Data Visualization Analyst
Autonomous Vehicle Technician
Sales Data Analyst
Applied Machine Learning Engineer
ETL Engineer
Big Data Engineer
Lead Data Analyst
BI Data Engineer
Cloud Database Engineer
Deep Learning Researcher
Data Analytics Specialist
Big Data Architect
Computer Vision Software Engineer
Marketing Data Engineer
Manager Data Management
Data Analytics Consultant
Data Science Tech Lead
Data Scientist Lead
Marketing Data Analyst
Data Analytics Engineer
Cloud Data Architect
Lead Data Engineer
Principal Data Analyst